VITE_CLERK_PUBLISHABLE_KEY=pk_test_ZmVhc2libGUtdmVydmV0LTkuY2xlcmsuYWNjb3VudHMuZGV2JA
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=your-email@gmail.com
SPRING_MAIL_PASSWORD=your-google-app-password
SPRING_MAIL_AUTH=true
SPRING_MAIL_STARTTLS=true
